.git/
.gitattributes
.gitignore
.dockerignore
node_modules/
release/
release4/
release5/
dist/
win/
android/
ios/
electron/
.wrangler/
public/
scripts/*
*.md
*.log
*.env
build.log
!scripts/deploy.sh
!scripts/gen-icons.mjs
!scripts/generate-icons.mjs
